@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: rgb(123, 123, 122);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  height: 100vh;
}
